.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  background-color: var(--color-dark-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.header__title {
  font-size: 2rem;
  font-family: var(--font-heading);
}

.header__searchInput {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background-color: var(--color-white);
  color: var(--color-dark-gray);
}
.header__searchInput:focus {
  box-shadow: 0 0 0 2px var(--color-teal);
}

.header__searchButton {
  margin-left: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background-color: var(--color-teal);
  color: var(--color-white);
  font-weight: 700;
  cursor: pointer;
}
.header__searchButton:hover {
  background-color: var(--color-teal-hover);
}
.header__searchButton:focus {
  background-color: var(--color-teal-hover);
  box-shadow: 0 0 0 2px var(--color-teal);
}
